body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2, h4 {
  margin-bottom: 4px;
}

ul {
  list-style: none;
}

.main-container {
  display: flex;
}

.nav-links {
  border-right: 1px solid rgba(0,0,0,0.1);
  padding-right: 16px;
}

.content-pane {
  width: 100%;
  margin-left: 16px;
}

.component-iframe {
  width: 80%;
  height: 400px;
  border: 1px solid rgba(0,0,0,0.1);
}
